#contenedor{
  font-family: sans-serif;
  text-align: center;
}

.navbar .menu-items {
  display: flex;
}

#wrapper {
  background-color: #899cb1;
  width: 20vw;
  height: 83.8%;
  padding: 5vh;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #070707;
  font-size: 1.4rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  padding: 5px;
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #000202;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 195px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 68vw;
  width: 100vw;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 40px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: relative;
  text-align: center;
  color: #000000;
}

/*ESTO ES PARA QUE LA BARRA DE TAREA SE VAYA A LA POSICION 0*/
.nav-container input[type="checkbox"]:checked~.menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
  display: none;
}

.row {
  margin-left: 10px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

img {
  width: 30vw;
  height: 40vh;
}

.jumbotron {
  text-align: center;
  color: #000000;
  background-color: #f50101a4;
  border: 3px solid #040404;
  border-radius: 10px;
  margin-top: 10px;
}

#futer{
  text-align: center;
  background-color: #fd0000a3;
  border: 3px solid black;
  border-radius: 10px;
}